<h2>Continue Watching ▶️</h2>

<div class="results">

    <div class="anime-card" *ngFor="let anime of animeList">

        <img [src]="anime.image" width="150">

        <h3>{{ anime.title }}</h3>

        <p>
            Episode
            {{ anime.watchedEpisodes }}
            /
            {{ anime.episodes }}
        </p>

        <app-progress-bar [watchedEpisodes]="anime.watchedEpisodes || 0" [totalEpisodes]="anime.episodes || 0">
        </app-progress-bar>

        <button [routerLink]="['/anime', anime.id]">
            Resume
        </button>

    </div>

</div>