<div class="search-page">

  <div class="search-container glass-card">

    <h1>Search Anime</h1>

    <p class="subtitle">
      Discover new anime and build your collection.
    </p>

    <div class="search-box">

      <input [(ngModel)]="searchText" (input)="onSearch()" placeholder="🔍 Search anime...">

      <button class="search-btn" (click)="search()">

        Search

      </button>

    </div>

    <p class="hint" *ngIf="
        searchText.length > 0 &&
        searchText.length < 3
      ">

      Type at least 3 characters...

    </p>

    <div class="error-box" *ngIf="errorMessage">

      ⚠️ {{ errorMessage }}

    </div>

    <div *ngIf="loading" class="loading">

      🔄 Loading Anime...

    </div>

  </div>

  <div class="results">

    <app-anime-card *ngFor="let anime of animes" [anime]="anime">

    </app-anime-card>

  </div>

  <button class="load-more-btn" *ngIf="
    animes.length > 0 &&
    hasMore &&
    !loading
  " (click)="loadMore()">
    Load More Anime
  </button>

</div>