<div class="anime-card" *ngIf="anime">

  <img [src]="getImage()" [alt]="getTitle()" />

  <div class="card-content">

    <h3>
      {{ getTitle() }}
    </h3>

    <p>
      Episodes:
      {{ anime.episodes || 'Unknown' }}
    </p>

    <p class="score">
      <ng-container *ngIf="anime.score; else emptyScore">
        Score: ⭐ {{ anime.score }}
      </ng-container>

      <ng-template #emptyScore>
        &nbsp;
      </ng-template>
    </p>

    <div class="card-buttons">

      <button class="details-btn" *ngIf="anime.id" [routerLink]="['/anime', anime.id]">
        View Details
      </button>

      <button class="favorite-btn" [class.active]="isFav" (click)="toggleFavorite(anime)">
        {{ isFav ? '❤️ Favorite' : '🤍 Favorite' }}
      </button>

    </div>

  </div>

</div>