<div class="home-container">

  <div class="glass-card">

    <div class="hero-content">

      <h1>Immerse In Anime</h1>

      <p>
        Track your favourite anime, manage your watchlist,
        continue watching and discover your next adventure.
      </p>

      <div class="hero-buttons">

        <button
          class="primary-btn"
          routerLink="/search">

          🔍 Explore Anime

        </button>

        <button
          class="secondary-btn"
          routerLink="/tracker">

          📚 My Tracker

        </button>

      </div>

      <div class="stats">

        <div class="stat-card">

          <h2>{{ totalWatching }}</h2>

          <span>
            Watching
          </span>

        </div>

        <div class="stat-card">

          <h2>{{ totalCompleted }}</h2>

          <span>
            Completed
          </span>

        </div>

        <div class="stat-card">

          <h2>{{ totalEpisodes }}</h2>

          <span>
            Episodes
          </span>

        </div>

      </div>

    </div>

  </div>

</div>